<form action="/create" method="POST">
<h2>{{title}}</h2>
<div class="input-field">
    <input type="text" name="title" id="">
    <label></label>
</div>
<button type="submit" class="btn">Create</button>

</form>
